.container>div {
  padding: 10px;
  text-align: center;
  font-size: 2em;
  color: #ffeead;
}

body {
  margin: 0;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  background-color: #ffeead;
}

.container>div:nth-child(1) {
  background-color: #96ceb4;
}

.container>div:nth-child(2) {
  background-color: #ff6f69;
}

.container>div:nth-child(3) {
  background-color: #88d8b0;
}

.container {
  border: 5px solid #ffcc5c;
  display: flex;
}

.home {
  flex: 1;
  /* flex-basis: 200px // base width of element.
  flex-grow: 1 // how much of extra space is destributed
  flex-shrink: 1 // both shrink at equal rate */
}

.logout {
  flex: 1;
}
