button {
  position: relative;
  cursor: pointer;
  font-weight: bold;
  margin: 0 15px 0 0;
}

/* =======Facebook Buttons========= */
.facebook-style-btn {
  border-radius: 2px;
  font-size: 0.9rem;
  padding: 6px 12px;
}

.facebook-style-dark {
  box-shadow: inset 0 1px 0 0 #4d73bf;
  background: #4267b2;
  border: solid 1px #4267b2;
  color: #fff;
  text-shadow: 0 1px 0 #3359a5;
}

.facebook-style-dark:hover {
  background: #2b54a7;
}

.facebook-style-dark:hover {
  background: #1d4698;
  border-color: #1d4698;
}

.facebook-style-light {
  background: #f6f7f9;
  border: solid 1px #ced0d4;
  color: #4b4f56;
}

.facebook-style-light:hover {
  background: #e9ebee;
}

.facebook-style-light:active {
  background: #d8dade;
  border-color: #d8dade;
}

/* =======3D Buttons========= */
.btn-3d-1 {
  position: relative;
  background: orangered;
  border: none;
  color: white;
  padding: 15px 24px;
  font-size: 1.4rem;
  box-shadow: -6px 6px 0 hsl(16, 100%, 30%);
  outline: none;
}
